<!doctype html>
<html class="psg-theme" lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= projectName %></title>
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
        <style><%- codeStyle %><%- tmplStyle %><%- processedCSS %></style>
    </head>

    <body>
      <div class="psg-wrapper">
        <nav class="psg-menu bg-gray">
          <a href="" class="psg-logo mt2 mr3">
            <img title="Envoy" src="https://envoy.com/images/logo.svg" style="
    transform: translateX(9px);
">
          </a>
          <ul class="psg-ComponentList list-style-none">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
              <a href="#color-palette" class="psg-ComponentList__item">
                <li>Color palette</li>
              </a>
            <% } %>
            <% maps.forEach(function (map) { %>
              <% if (map.link.title !== null) { %>
                <a href="#<%= map.link.id %>" class="psg-ComponentList__item">
                  <li>
                    <%= map.link.title %>
                  </li>
                </a>
              <% } %>
            <% }) %>
          </ul>

        </nav>

        <div class="psg-main bg-white shadow">
        <section class="p4 psg-section">
          <h1 class="slate h1 mb2 mt6 letter-rule">Envoy CSS</h1>
        </section>
          <div class="psg-container overflow-hidden">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
            <section class="p4 psg-section">
                <h2 id="color-palette" class="mt0 mb3 h2 red">Color palette</h2>
                <div class="psg-contents">
                  <div class="clearfix mxn2">
                    <% colorPalette.forEach(function (palette) { %>
                    <div class="col col-2 px2">
                        <div class="col-12 circle" style="padding-bottom: 100%; background-color: <%= palette.color %>">
                        </div>
                        <div class="mb2">
                           <p class="mt1 mb0 center" style="text-transform: capitalize;"><%= palette.name %></p>
                        </div>
                    </div>
                    <% }) %>
                  </div>
                </div>
            </section>
            <hr class="psg-separator">
            <% } %>
            <% maps.forEach(function (map) { %>
                <section class=" p4 psg-section">
                    <h2 id="<%= map.link.id %>" class="mt0 mb3 h2 red"><%= map.link.title %></h2>

                    <div class="psg-contents">
                    <div class="psg-doc pb3 mb3">
                      <%- map.html %>
                      </div>
                      <h4 class="h4 slate pt2 mb0">CSS source</h3>
                      <pre class="px4 py2 border bg-gray" style="border-width:1px;max-height:60vh;">
                      <code class="css">
                      <%- map.rule %>
                      </code>
                      </pre>
                    </div>
                </section>
                <hr class="psg-separator">
            <% }) %>
          </div>
        </div>

      </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/css.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
